docs/outline.md
docs/ToDo.md
docs/measurements/accountMeasurements.md
docs/measurements/brainstorm.md
docs/measurements/measurementTemplate.md
docs/measurements/oldNotes.md
docs/measurements/peopleMeasurements.md
docs/measurements/systemMeasurements.md
snowIntelligence.code-workspace
